:root {
    color-scheme: light dark;
    --light-text: rgb(40,44,55);
    --dark-text: white;
    --card-bg-dark: rgb(45,49,60);
    --card-body-bg-dark: rgb(40,44,55);
    --bg-dark: rgb(30,33,40);
    --anchor-color: rgb(95, 158, 160);
    --anchor-color-disabled: rgba(95, 158, 160, 0.25)
}
  
body {
    background-color: light-dark(white, var(--bg-dark));
    color: light-dark(var(--light-text), var(--dark-text));
}

.text-muted {
    color: light-dark(var(--bs-secondary-color), var(--dark-text)) !important;
}

.frosted-white {
    background-color: light-dark(rgba(255, 255, 255, 0.5), rgba(40, 44, 55, 0.5));
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--anchor-color);
}

.mt-post a { 
    text-decoration: none !important;
    color: var(--anchor-color) !important;
}

.nav-link {
    text-decoration: none;
    color: var(--anchor-color);
}

.nav-link-active {
    font-weight: bolder;
}

.highlight pre {
    padding: 1em;
    border-radius: 0.5em;
}

#post-content img {
    max-width: 100%;
    height: auto;
}

#post-content pre {
    max-width: 100%;
}

.pagination-default {
    box-shadow: var(--bs-box-shadow)!important;
}

.navbar-brand {
    color: light-dark(var(--light-text), var(--dark-text));
}

.bg-primary {
    background-color: var(--anchor-color) !important;
}
.bg-secondary {
    background-color: light-dark(rgb(185, 185, 185), rgb(70,70,70)) !important;
    font-weight: normal;
}

.card {
    color: light-dark(var(--light-text), var(--dark-text)) !important;
    background: light-dark(var(--bs-card-bg), var(--card-bg-dark)) !important;
}
.card-body {
    background: light-dark(var(--bs-card-bg), var(--card-body-bg-dark)) !important;
}

.list-group-item {
    color: light-dark(var(--bs-list-group-color), var(--dark-text)) !important;
    background: light-dark(var(--bs-list-group-bg), var(--card-bg-dark)) !important;
    border-color: light-dark(var(--bs-list-group-border-color), var(--bg-dark)) !important;
}

.page-link {
    background-color: light-dark(var(--bs-pagination-bg), var(--card-bg-dark)) !important;
    color: var(--anchor-color) !important;
    border-color: light-dark(var(--bs-pagination-border-color), var(--bg-dark)) !important;
}

.disabled>.page-link {
    /* var(--bs-pagination-disabled-color) */
    color: var(--anchor-color-disabled) !important;
}